$color-white: #f7f7f7;

$color-black: #222;
$color-black-light: #2c2c2c;
$color-black-dark: #181818;

$color-grey: #a0a0a0;
$color-grey-dark: #555;

$color-green-light: #1ed760;
$color-green: #1db954;

$color-gradient-top: #3c3c3c;
$color-gradient-bottom: #1e1e1e;
