.album-select {

	&__container {
		padding: 1.5rem 2rem;
		padding-bottom: 14rem;
		border-bottom: 1px solid rgba($color-grey-dark, .8);
		cursor: default;

		&--item {
			display: inline-block;
			// background-image: contain;
			margin: 2rem;
			width: 28%;
			max-width: 20rem;
			min-width: 15rem;
			backface-visibility: none;

			a {
				text-decoration: none;
			}

			img {
				width: 100%;
				transition: all .2s;
				backface-visibility: none;

				&:hover {
					cursor: pointer;
					transform: translateY(-.5rem);
					box-shadow: 0 1rem 3rem black;
				}
			}

			&-details {
				max-width: 18rem;
				font-size: 1.4rem;
			}

			&-title {
				color: $color-white;
				margin: 1rem 0;
				font-weight: 700;
			}

			&-artist {
				color: $color-grey;
				margin-bottom: .3rem;
			}
		}
	}
}
