.currently-playing > * {
	color: $color-green !important;
}

// .currently-playing .tracks__list--number-sound {
// 	display: inline-block;
// }

.tracks {
	margin-top: 2rem;
	color: $color-grey;

	&__list {
		display: block;
		width: 100%;

		&--item {
			display: flex;
			align-items: center;
			font-size: 1.3rem;
			height: 2rem;
			border-bottom: 1px solid rgba($color-grey, .2);
			padding: 1rem .5rem;
			padding-top: 1.1rem;

			& > * {
				margin: 0 1rem;
			}

			&:not(:first-child) {

				&:hover {
					@include list-hover
				}
			}

			&:hover svg {
				visibility: visible;
			}

			&:hover span {
				visibility: hidden;
			}

		}

		&--number {
			color: $color-grey !important;
			width: 2rem;
			position: relative;
			text-align: center;

			&-header {
				color: $color-grey;
				width: 2rem;
				font-size: 1rem;
				text-align: center;
			}

			&-play {
				visibility: hidden;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
				height: 2.5rem;
				width: 2.5rem;
				fill: $color-white;
			}

			&-pause {
				display: none;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
				height: 2.5rem;
				width: 2.5rem;
				fill: $color-white;
			}

			&-sound {
				display: none;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
				height: 1.8rem;
				width: 1.8rem;
				background-color: $color-black;
				border: 1px solid $color-black;
				border-radius: 50%;
				padding: 4px;
				fill: $color-white;
			}

			&:hover span {
				
			}

			&:hover &-play {
				fill: #fff;
			}

		}


		&--name {
			min-width: 30%;
			cursor: default;
			flex-grow: 1;
			color: $color-white;

			&-header {
				flex-grow: 1;
				color: $color-grey;
				font-size: 1rem;
				text-transform: uppercase;
				letter-spacing: 1px;
				min-width: 30%;
			}
		}

		&--artist {
			width: 30%;
			color: $color-white;

			&:hover {
				cursor: pointer;
				text-decoration: underline;
			}

			&-header {
				color: $color-grey;
				font-size: 1rem;
				text-transform: uppercase;
				letter-spacing: 1px;
				width: 30%;
			}
		}

		&--album {
			width: 30%;

			&-header {

				color: $color-grey;
				font-size: 1rem;
				text-transform: uppercase;
				letter-spacing: 1px;
				width: 30%;
			}
		}

		&--more {
			visibility: hidden;
			margin-left: auto;
			height: 100%;
			width: 3rem;
			position: relative;

			svg {
				margin-right: auto;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				height: 2rem;
				width: 2rem;
				fill: $color-white;

				&:hover {
					cursor: pointer;
				}
			}

			&-header {
				width: 3rem;
				height: 1rem;
				margin-left: auto;

				svg {

				}
			}
		}

		&--duration {
			text-align: right;
			letter-spacing: 1px;
			width: 5rem;

			&-header {
				text-transform: uppercase;
				font-size: 1rem;
				letter-spacing: 1px;
				color: $color-grey;
			}

			svg {
				fill: $color-grey;
				height: 1.5rem;
				width: 1.5rem;
			}
		}
	}
}
