#new_pw {
	display: none;
}

.userdetails {
	padding: 3rem;

	&__container {
		padding: 3rem;
		border-bottom: 1px solid rgba($color-grey, .2);

		&--pwd {
			display: flex;
			justify-content: space-between;
			flex-direction: column;

			&-block {
				
				&:first-child {
					margin-bottom: 3rem;
				}

			}
		}
	}

	&__primary-heading {
		font-size: 4rem;
		font-weight: 700;
	}

	&__secondary-heading {
		font-size: 1.5rem;
		text-transform: uppercase;
		font-weight: 200;
		color: $color-grey;
		margin-bottom: 1rem;
		letter-spacing: 1px;
	}

	&__input {
		border: none;
		border-radius: 4px;
		display: block;
		padding: 1rem;
		background-color: $color-black-light;
		color: $color-white;
		letter-spacing: 1px;

	}

	&__submit-btn {
		@include btn;
		background-color: transparent;
		font-size: 1.2rem;
		font-weight: 400;
	}
}
